body{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tab-wrapper{
  width: 250px;
  margin: 50px auto;
}

.tab-wrapper .tab-title-wrapper{
  position: relative;
  width: 250px;
  bottom: -1px;
  z-index: 99;
  overflow: hidden;
}
.tab-wrapper .tab-title{
  width: 300px;
}
.tab-wrapper .tab-title::after{
  content: '';
  display: block;
  clear: both;
}
.tab-wrapper .tab-title-item{
  position: relative;
  float: left;
  height: 30px;
  margin-right: 5px;
  padding: 0 16px;
  border: 1px #ccc solid;
  border-bottom: 1px red solid;
  text-align: center;
  line-height: 30px;
  background-color: #f1f1f1;
  color: #333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.tab-wrapper .active{
  border: 1px red solid;
  border-bottom: 1px #fff solid;
  background-color: #fff;
  color: #111;
  z-index: 99;
}
.tab-wrapper .tab-content-wrapper{
  position: relative;
  width: 250px;
  border: 1px red solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.tab-wrapper .tab-content{
  position: relative;
  height: 200px;
  overflow: hidden;
  /* transform: translateX(100px); */
  box-sizing: border-box;
  transition: transform 1s;
  z-index: 0;
}
.tab-wrapper .tab-content .tab-content-item{
  width: 250px;
  height: 200px;
  padding-top: 20px;
  text-align: center;
  box-sizing: border-box;
}

/*添加.tab-fade 来进行配置*/
.tab-wrapper .tab-fade{
  position: relative;
}
.tab-wrapper .tab-fade .tab-content-item{ 
  display: none;
  position: absolute;
}

/*添加.tab-slide 来进行配置*/
.tab-wrapper .tab-slide .tab-content-item{
  float: left;
}
.tab-wrapper .tab-slide::after{
  content: '';
  display: block;
  clear: both;
}
.tab-wrapper .tab-content .tab-content-item:nth-of-type(1){
  color: orange;
}
.tab-wrapper .tab-content .tab-content-item:nth-of-type(2){
  color: green;
}
.tab-wrapper .tab-content .tab-content-item:nth-of-type(3){
  color: blue;
}
.tab-wrapper .tab-content .current{
  display: block;
}

